.roleNetwork{
    display: flex;
    flex-direction: column;

    &_item{
        padding: 12px;
        border-radius: 12px;
        border: 1px solid #eee;
        margin-bottom: 12px;
        width: 100%;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        p{
            font-size: 16px;
            color: #333;
            max-width: 450px;
        }
        &_operate {
            margin-left: auto;
            display: flex;
            font-size: 18px;
            cursor: pointer;
            span{
                width: 20px;
                height: 20px;
                padding: 4px;
                border: 1px solid #333;
                margin-left: 20px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    color: blue;
                    border-color: blue;
                }
            }
        }
    }
}